name: rococo-local

services:

  postgres:
    container_name: rococo-db
    image: postgres:16.8
    restart: unless-stopped
    ports:
      - ${ROCOCO_DB_PORT:-5432}:5432
    environment:
      - CREATE_DATABASES=rococo-artists,rococo-auth,rococo-countries,rococo-files,rococo-museums,rococo-paintings,rococo-users
      - POSTGRES_USER=${ROCOCO_DB_USER:-postgres}
      - POSTGRES_PASSWORD=${ROCOCO_DB_PASSWORD:-secret}
    command: postgres -c max_connections=200 -c max_prepared_transactions=100
    volumes:
      - rococo_pgdata:/var/lib/postgresql/data
      - ./env/docker/postgres/init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${ROCOCO_DB_USER:-postgres}", "-d", "postgres" ]
      interval: 3s
      timeout: 3s
      retries: 5
    networks:
      - rococo-network

  pgadmin:
    container_name: rococo-pgadmin
    image: dpage/pgadmin4:9.2
    restart: unless-stopped
    ports:
      - "${ROCOCO_PGADMIN_PORT:-5433}:80"
    volumes:
      - rococo_pgadmin_data:/var/lib/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${ROCOCO_PGADMIN_EMAIL:-mymail@mail.com}
      PGADMIN_DEFAULT_PASSWORD: ${ROCOCO_PGADMIN_PASSWORD:-12345}
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:80/misc/ping || exit -1
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - rococo-network

  zookeeper:
    container_name: rococo-zookeeper
    image: confluentinc/cp-zookeeper:7.3.2
    restart: unless-stopped
    expose:
      - ${ROCOCO_ZOOKEEPER_PORT:-2181}
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
    networks:
      - rococo-network

  kafka:
    container_name: rococo-kafka
    image: confluentinc/cp-kafka:7.3.2
    restart: unless-stopped
    ports:
      - "${ROCOCO_KAFKA_PORT:-9092}:9092"
    depends_on:
      zookeeper:
        condition: service_started
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:${ROCOCO_ZOOKEEPER_PORT:-2181}
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
    healthcheck:
      test: kafka-topics --bootstrap-server localhost:9092 --list
      interval: 10s
      timeout: 5s
      start_period: 30s
      retries: 5
    networks:
      - rococo-network

volumes:
  rococo_pgdata:
  rococo_pgadmin_data:

networks:
  rococo-network:
    driver: bridge
